@charset "utf-8";
/* CSS Document */
body{
	-webkit-user-select: none;
}

.in_top {
	clear: both;
	float: left;
	height: 80px;
	width: 100%;
}
.in1 {
	float: left;
	height: auto;
	width: auto;
	margin-top: 25px;
	margin-left:25px;
}
.in1 span {
	font-size: 12px;
	line-height: 20px;
	color: #8e8e8e;
	float: left;
	height: 20px;
	width: auto;
	margin-top: 7px;
}
.in1 input {
	font-size: 14px;
	line-height: 26px;
	color: #212121;
	float: left;
	height: 26px;
	width: 150px;
	padding-right: 5px;
	padding-left: 5px;
	border:1px solid #d8d8d8;
	font-family: "微软雅黑";
}
.in2 {
	float: left;
	height: auto;
	width: auto;
	margin-top: 25px;
	margin-left:25px;
}
.in2 span {
	font-size: 12px;
	line-height: 20px;
	color: #8e8e8e;
	float: left;
	height: 20px;
	width: auto;
	margin-top: 7px;
}
/*.inp1 {
	font-size: 14px;
	line-height: 30px;
	color: #212121;
	float: left;
	height: 30px;
	width: 150px;
	padding-right: 5px;
	padding-left: 5px;
	border:1px solid #d8d8d8;
}
.inp2 {
	font-size: 14px;
	line-height: 30px;
	color: #212121;
	float: left;
	height: 30px;
	width: 150px;
	padding-right: 5px;
	padding-left: 5px;
	border:1px solid #d8d8d8;
}
*/
.in2 select {
	font-size: 14px;
	line-height: 32px;
	color: #212121;
	background-color: #FFF;
	float: left;
	height: 32px;
	width: auto;
	padding-right: 20px;
	padding-left: 5px;
	border:1px solid #d8d8d8;
	margin-left: 10px;
	font-family: "微软雅黑";
	min-width:90px;
}
.top_btn {
	font-size: 14px;
	line-height: 32px;
	color: #FFF;
	background-color: #f78e57;
	text-align: center;
	float: left;
	height: 32px;
	width: auto;
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top:25px;
	border-radius:4px;
}
/*.top_btn:hover {
	background-color: #db7641;
}*/
.foot {
	clear: both;
	float: left;
	height: 48px;
	width: 96%;
	background-color: #FFF;
	padding-left:2%;
}
.content {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	overflow:auto;
}
.ft_btn {
	font-size: 14px;
	line-height: 30px;
	color: #FFF;
	float: left;
	height: 30px;
	width: auto;
	margin-right: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 9px;
	border-radius:4px;
}
.green {
	background-color: #4dcd70;
}
.blue {
	background-color: #07b6e5;
}
.in_tb {
	clear: both;
	float: left;
	height: auto;
	width: 100%;
}


/*css quotes style pagination*/

div.quotes {
	text-align: center;
	font-size:12px;
	display:inline-block;
	float: right;
	width: auto;
	height: 35px;
	line-height: 30px;
}
div.quotes a {
	padding-bottom: 2px;
	color: #979797;
	margin-right: 7px;
	padding-top: 2px;
	float: left;
}
div.quotes a:hover {
	color: #000;
}

div.quotes span.current {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	margin-right: 2px;
	padding-top: 2px;
	background-color: #FFF;
}

.tb_pag {
	float: right;
	height: auto;
	width: auto;
	margin-right:1%;
	margin-top: 10px;
}
.in_pag {
	height: 35px;
	width: 360px;
	float: right;
	margin-right: 15px;
	padding-top: 13px;
}
.tb_pag_xs {
	display: block;
	color: #979797;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-left: 15px;
	width: 150px;
	padding-top: 13px;
	font-size: 12px;
}
.prev {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #979797;
	border-left-color: #979797;
	background-repeat: no-repeat;
	background-position: center center;
	padding:0 5px;
}
.next {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #979797;
	border-left-color: #979797;
	background-repeat: no-repeat;
	background-position: center center;
}

.top_nav {
	clear: both;
	float: left;
	height: 59px;
	width:100%;
	border-bottom: 1px solid #ededed;
}
.sy {
	float: left;
	height: 30px;
	width: auto;
	margin-top:17px;
	margin-left:15px;
}
.sy small {
	float: left;
	height: 12px;
	width: 12px;
	border-radius:15em;
	margin-top: 7px;
}
.sy span {
	font-size: 16px;
	line-height: 20px;
	color: #161616;
	float: left;
	height: 20px;
	width: auto;
	margin-left: 10px;
	margin-top:3px;
}
/*
.xpd {
	float: left;
	height: 30px;
	width: auto;
	margin-top:17px;
	margin-left:5px;
}
.xpd strong {
	float: left;
	height: 12px;
	width: 12px;
	border: 7px solid rgba(247,142,87,0);
	border-radius:15em;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in; 
}
.xpd:hover strong {
	border: 7px solid rgba(247,142,87,0.5);
}
.xpd strong small {
	background-color: rgba(247,142,87,1);
	float: left;
	height: 12px;
	width: 12px;
	border-radius:15em;
}
.xpd span {
	font-size: 16px;
	line-height: 20px;
	color: #161616;
	float: left;
	height: 20px;
	width: auto;
	margin-left: 3px;
	margin-top:3px;
}*/
.s-pic {
	text-align: center;
	float: left;
	height: 352px;
	width: 100%;
	margin-top:5%;
}
.s-pic img {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
.in-btn {
	clear: both;
	float: left;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top:20px;
	margin-top:50px;
}
.in-btn a {
	font-size: 23px;
	color: #ed8a56;
	height: auto;
	width: auto;
	padding-top: 9px;
	padding-right: 30px;
	padding-bottom: 9px;
	padding-left: 30px;
	border-radius:7px;
	border:1px solid #ed8a56;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in; 
}
.in-btn a:hover {
	color: #fff;
	background-color:#ed8a56;
	border:1px solid #ed8a56;
}
.in-copyright {
	font-size: 13px;
	line-height: 20px;
	color: #6e6e6e;
	text-align: center;
	float: left;
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 10px;
}
.ind {
	background-color: #f2f3f6;
	background-image: url(../img/logo03.png);
	background-repeat: no-repeat;
	background-position: 60px 15px;
}
.in3 {
	background-color: #fbfbfc;
	clear: both;
	float: left;
	height: auto;
	width: 96%;
	margin-top:120px;
	margin-left:2%;
	margin-right:2%;
	border-radius:5px;
}
.in4 {
	background-color: #faf9f9;
	float: left;
	height: auto;
	width: 45%;
	border: 1px solid #e7e7e7;
	margin: 25px 0;
	border-radius:10px;
}

.center_tb {
	clear: both;
	float: left;
	width: 100%;
	overflow: auto;
}
.in5 {
	background-color: #faf9f9;
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	border-radius:0 0 10px 10px;
	padding-bottom: 20px;
}
.td_blue {
	color: #25ade7;
}
.in5_btn {
	text-align: center;
	clear: both;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 15px;
}
.in5_btn a {
	height: auto;
	width: 100px;
	font-size: 15px;
	line-height: 33px;
	color: #FFF;
	text-align: center;
	border-radius:2px;
	display: inline-block;
}



.quotes span{
	display: inline-block;
	border: 1px solid #e7e7e7;
	padding: 0 8px;
	background: #fff;
}

.quotes span:hover{
	background: #E7E7E7;
	border: 1px solid #D6D6D6;
}

.quotes .span_check{
	background: #E7E7E7;
	border: 1px solid #D6D6D6;
	color: #000;
}

div.quotes .sl{
	margin-right: 7px;
	display: inline-block;
	line-height: 26px;

}
.pages {
	float: left;
	width: auto;
}
@media screen and (max-width:881px ) {
	.in_pag {
		margin-right: -2px;
	}
}

/***********************************************************************/
.in_day {
	background-color: #faf9f9;
	clear: both;
	float: left;
	height: 60px;
	width: 100%;
	border-radius:10px;
}
.index_ser{
	float: left;
	width: 260px;
	height: 100%;
}
.ser_div{
	width: 220px;
	height: 32px;
	border-radius: 110px;
	background: #f6f0ed;
	margin: 17px 0 0 20px;
	border: 1px solid #ece0d9;
}
.ser_div input{
	width: 170px;
	height: 32px;
	background: #f6f0ed;
	line-height: 32px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #af9c84;
	margin-left: 15px;
	float: left;
}
.ser_div i{
	display: inline-block;
	width:15px;
	height: 32px;
	background: url("../img/index_ser.png") no-repeat center center;
	margin-left: 10px;
}
.index_date{
	width: 156px;
	float: right;
	margin-right: 20px;
}
.in_arw1 {
	background-image: url(../img/index_l.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 60px;
	width: 7px;
	float:left;
	margin: 0 3px;
}
.in_arw2 {
	background-image: url(../img/index_r.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 60px;
	width: 7px;
	float:right;
	margin: 0 3px;
}
.in_arw1:hover {
	background-color: #ededed;
	border-radius:10px 0 0 0;
}
.in_arw2:hover {
	background-color: #ededed;
	border-radius:0 10px 0 0;
}
.inday {
	font-size: 20px;
	line-height: 60px;
	color: #f78e57;
	text-align: center;
	height: 60px;
	width: 130px;
	float: left;
}
.lock{
	display: inline-block;
	width: 17px;
	height: 14px;
	background: url("../img/lock.png") no-repeat center center;
}
.unlock{
	background: url("../img/unlock.png") no-repeat center center;
}
.index_tip {
	position: absolute;
	top: 10px;
	width: 150px;
	line-height: 26px;
	left: 65px;
	font-size: 12px;
	color: #333;
	background: #fff;
	box-shadow: 1px 1px 3px #c7c7c7;
	border-radius: 2px;
	display: none;
	border: 1px solid #ececec;
}